@import "colors";
@import "responsive";
footer {
  background-color: #0b1d26;
  padding-top: 100px;
  padding-bottom: 100px;
  .footer-content {
    display: flex;
    gap: 300px;
    justify-content: space-between;
    .footer-text1 {
        color: #fff;
        padding-top: 20px;
      h3 {
        font-family:"Roboto" sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
        margin-top: 18px;
        margin-bottom: 128px;
        width: 300px;
      }
      p {
        opacity: 0.5;
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
        text-align: left;
      }
    }
    .footer-text2-3 {
      display: flex;
      gap: 50px;
      color: #fff;
      
      
      .text2-3 {
        h2 {
          
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
          text-align: left;
          margin-top: 24px;
          width: 300px;
          color: #fbd784;
          margin-bottom: 24px;
        }
        p {
            font-family: "Laro", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 32px;
            margin-bottom: 18px;
            
        }
      }
    }
  }
}
